<footer class="footer-section">
    <div class="container ">
        <div class="footer-cta pt-4 pb-2">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta d-flex align-items-start">
                        <!-- Keep the icon aligned at the top -->
                        <i class="fas fa-map-marker-alt fa-2x icon-fixed-width"></i>
                        <div class="cta-text">
                            <h4>Find Us</h4>
                            <a href="https://www.google.com/maps/place/227 Đ.
              Nguyễn Văn Cừ, Phường 4, Quận 5, Hồ Chí Minh"
                               target="_blank">227 Đ. Nguyễn Văn Cừ, Quận 5, Hồ Chí Minh</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta d-flex align-items-start">
                        <i class="fas fa-phone fa-2x icon-fixed-width"></i>
                        <div class="cta-text">
                            <h4>Call Us</h4>
                            <p>+84 9876543210</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta d-flex align-items-start">
                        <i class="far fa-envelope-open fa-2x icon-fixed-width"></i>
                        <div class="cta-text">
                            <h4>Email Us</h4>
                            <a href="mailto:support@CineSeats.com">support@CineSeats.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-3 pb-1">
            <div class="row">
                <div class="col-xl-2 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="/"><img
                                    style="max-width: 100px"
                                    src="/images/logo.png"
                                    class="img-fluid"
                                    alt="Ticket Booking Logo"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <!-- 3 Columns Inside -->
                        <div class="row cta-text">
                            <div class="col-3">
                                <a href="/">Home</a>
                            </div>
                            <div class="col-3">
                                <a href="#">FAQs</a>
                            </div>
                            <div class="col-3">
                                <a href="/contact">Contact Us</a>
                            </div>
                            <div class="col-3">
                                <a href="/about">About Us</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-social-icon">
                        <span>Follow Us</span>
                        <a href="https://www.facebook.com"><i
                                class="fab fa-facebook-f facebook-bg"></i></a>
                        <a href="https://x.com"><i
                                class="fab fa-twitter twitter-bg"></i></a>
                        <a href="https://instagram.com/"><i
                                class="fab fa-instagram instagram-bg instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p class="mb-3" style="text-align: center"><small>© CineSeats. All Rights Reserved.</small></p>
        </div>
    </div>
</footer>