# Ignore all .log files
*.log

# Ignore node_modules folder
node_modules/
.idea/
# Ignore .env file (used for environment variables)
.env

# Ignore all files with .temp extension
*.temp

# Ignore specific folder


test.html
# Ignore all .DS_Store files
.DS_Store