<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cinema Website</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
{{> header}} <!-- Include header partial -->

<main>
    {{{body}}} <!-- Main content goes here -->
</main>

{{> footer}} <!-- Include footer partial -->
</body>
</html>
