<section>
    <div class="body-login-register">
        <div class="form-container">
            <p class="title"> Forgot Password</p>
            <form class="form" action="/forgot-password" method="POST">
                <input type="text" name="email" class="input" placeholder="Enter your email"/>
                <button class="form-btn" type="submit">Send email</button>
            </form>
            <p class="sign-up-label">
                Don't have an account? <a href="/register"
                                          class="sign-up-link">Sign up now</a>
            </p>
        </div>
    </div>
</section>

