<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Additional CSS and meta tags -->
    <script src="../app.js" ></script>
</head>
<body>
{{> header}} <!-- Include the header partial here -->

<main>
    {{{body}}} <!-- This is where individual page content will go -->
</main>

{{> footer}} <!-- Include the footer partial here -->
</body>
</html>
